<h1>Orders</h1>

<table id="orders" class="display" data-source="<%= orders_url(format: "json") %>">
  <thead>
    <tr>
      <th>Submitted</th>
      <th>OrderId</th>
      <th>Target</th>
      <th>Type</th>
      <th>Order</th>
      <th>Status</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>